* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

.ol,
ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.cursor_pointer {
  cursor: pointer;
}

.cmn_btn {
  border-radius: 4px;
  padding: 14px 16px;
  border: 1px solid transparent;
  background-color: var(--color-yellow);
}



/* header_section__css__here */
.header_bg_img {
  background-image: url("../src/assets/images/png/header_bg.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 936px;
}

.nav_box {
  box-shadow: 0px 4px 4px 0px #00000014;

  height: 90px;
  width: 100%;
  background: #FFFFFF;
}

/* margin--padding---gap--here */
.py_47 {
  padding-top: 47px;
  padding-bottom: 47px;
}

.mt_9 {
  margin-top: 9px;
}

/* margin--padding---gap--here */

.max_w_463 {
  max-width: 463px;
}

.max_w_519_heading {
  max-width: 519px;
}

.mx_w_521 {
  max-width: 521px;
}

@media (min-width:576px) {

  .py_47 {
    padding-top: 54px;
    padding-bottom: 57px;
  }

  .mt_9 {
    margin-top: 20px;
  }
}

@media (min-width:768px) {
  .py_47 {
    padding-top: 64px;
    padding-bottom: 77px;
  }

  .mt_9 {
    margin-top: 10px;
  }
}

@media (min-width:992px) {
  .py_47 {
    padding-bottom: 87px;
  }

  .mt_9 {
    margin-top: 13px;
  }
}

@media (min-width:1024px) {
  .mt_9 {
    margin-top: 15px;
  }
}

@media (min-width:1200px) {
  .py_47 {
    padding-bottom: 108.96px;
  }

  .mt_9 {
    margin-top: 21px;
  }
}