* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none !important;
  box-sizing: border-box;
}

.ol,
ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.cursor_pointer {
  cursor: pointer;
}

.cmn_btn {
  border-radius: 4px;
  padding: 14px 16px;
  border: 2px solid transparent;
  background-color: var(--color-yellow);
  transition: 300ms linear;
}

.cmn_btn:hover {
  background-color: white;
  border: 2px solid var(--color-yellow);
  color: var(--color-yellow) !important;
}

.cmn_btn_2 {
  border-radius: 4px !important;
  padding: 14px 16px !important;
  border: 2px solid transparent !important;
  background-color: #ffc226 !important;
  transition: 0.3s linear !important;
}

.cmn_btn_2:hover {
  background-color: white !important;
  border: 2px solid var(--color-yellow) !important;
  color: var(--color-yellow) !important;
}

.home {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: transparent;
  transition: 300ms linear !important;
}

.home:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black !important;
}

/* header_section__css__here */
.header_bg_img {
  background-image: url("../src/assets/images/png/header_bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 940px;
}

.right_100 {
  right: -100%;
}

.nav_box {
  box-shadow: 0px 4px 4px 0px #00000014;
  height: 90px;
  width: 100%;
  background: #FFFFFF;
}

.max_w_396 {
  max-width: 513px;
  width: 100%;
}

/* margin--padding---gap--here */
.py_47 {
  padding-bottom: 47px;
}

.mt_9 {
  margin-top: 9px;
}

.mt_11 {
  margin-top: 11px;
}

.mt_26 {
  margin-top: 26px;
}

.pt_48 {
  padding-top: 48px;
}

.pt_49 {
  padding-top: 49px;
}

/* margin--padding---gap--here */

.max_w_463 {
  max-width: 463px;
}

.max_w_519_heading {
  max-width: 519px;
}

.mx_w_521 {
  max-width: 521px;
}

.contact_ellipse {
  bottom: 5%;
  right: 0%;
}

.modal-title {
  display: none !important;
}

.btn-close {
  --bs-btn-close-bg: url("../src/assets/images/svg/close_btn_modal.svg") !important;
  --bs-btn-close-opacity: 1 !important;
}

.modal-header {
  border-bottom: none !important;
  border-top-left-radius: 13px !important;
  border-top-right-radius: 13px !important;
  padding: 24px 27px !important;
}

.modal-footer {
  display: none !important;
}

@media (min-width:576px) {

  .py_47 {
    padding-top: 54px;
    padding-bottom: 57px;
  }

  .mt_9 {
    margin-top: 20px;
  }

  .mt_26 {
    margin-top: 36px;
  }

  .pt_48 {
    padding-top: 68px;
  }

  .header_bg_img {
    min-height: 980px;
  }

  .pt_49 {
    padding-top: 59px;
  }
}

@media (min-width:768px) {
  .py_47 {
    padding-top: 64px;
    padding-bottom: 77px;
  }

  .mt_9 {
    margin-top: 10px;
  }

  .mt_26 {
    margin-top: 46px;
  }

  .header_bg_img {
    min-height: 730px;
  }

  .pt_49 {
    padding-top: 79px;
  }
}

@media (min-width:992px) {
  .py_47 {
    padding-bottom: 87px;
  }

  .mt_9 {
    margin-top: 13px;
  }

  .mt_26 {
    margin-top: 56px;
  }

  .header_bg_img {
    min-height: 840px;
  }

  .pt_49 {
    padding-top: 89px;
  }
}

@media (min-width:1024px) {
  .mt_9 {
    margin-top: 15px;
  }

  .header_bg_img {
    min-height: 780px;
  }

  .pt_49 {
    padding-top: 109px;
  }


}

@media (min-width:1200px) {
  .py_47 {
    padding-bottom: 108.96px;
  }

  .mt_9 {
    margin-top: 21px;
  }

  .mt_11 {
    margin-top: 19px;
  }

  .mt_26 {
    margin-top: 66px;
  }

  .pt_48 {
    padding-top: 150px;
  }

  .header_bg_img {
    min-height: 966px;
  }

  .header_bg_img {
    background-size: 100% 100%;
  }

  .pt_49 {
    padding-top: 118px;
  }
}

@media (max-width:992px) {


  .overflow_hidden {
    overflow: hidden !important;
  }

  .menu span:nth-child(1) {
    height: 5px;
    width: 38px;
    background: var(--color-yellow);
    display: block;
  }

  .menu span:nth-child(2) {
    height: 5px;
    width: 38px;
    background: var(--color-yellow);
    display: block;
  }

  .menu span:nth-child(3) {
    height: 5px;
    width: 38px;
    background: var(--color-yellow);
    display: block;
  }

  .z_9 {
    z-index: 20;
  }

  .mobile-view {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 10;
    transition: all 300ms linear;
  }

}