 .bg-service {
     background: #F7F9FD;
 }

 /************************************padding-margin******************************/
 .mt-21 {
     margin-top: 21px;
 }

 .py-services {
     padding-bottom: 48px;
 }

 .mt-27 {
     margin-top: 27px;
 }

 .mt-16 {
     margin-top: 16px;
 }

 .mt-52 {
     margin-top: 52px;
 }

 .mt-34 {
     margin-top: 34px;
 }

 .mt-47 {
     margin-top: 47px;
 }

 .mt-63 {
     margin-top: 48px;
 }

 .pt-testinomial {
     padding-top: 48px;
 }

 .mt-64 {
     margin-top: 64px;
 }

 .mt-49 {
     margin-top: 49px !important;
 }

 .pl-21 {
     padding-left: 9px !important;
 }

 /************************************padding-margin******************************/

 .max-w-526 {
     max-width: 526px;
 }

 .max-w-292 {
     max-width: 292px;
     width: 100%;
 }

 .max-w-214 {
     max-width: 214px;
     width: 100%;
 }

 .gap-39 {
     gap: 14px;
 }

 .op-70 {
     opacity: 70%;
 }

 .gap-20 {
     gap: 20px;
 }

 .servics-box {
     max-width: 367px;
     width: 100%;
     box-shadow: 0px 9px 28px 0px #0000000A;
     height: 100%;
     background-color: white;
     padding: 30px 0px 25px 0px;
     border-radius: 10px;
     transition: 0.3s linear !important;
 }

 .servics-box:hover {
     box-shadow: 0px 11px 44px 5px #00000040;
 }

 .max-w-203 {
     max-width: 203px;
     width: 100%;
 }

 .outer-circle {
     width: 79px;
     height: 79px;
     box-shadow: 0px 4px 16px 0px #00000021;
     background-color: white;
     border-radius: 50%;
 }

 .inner-circle {
     width: 61px;
     height: 61px;
     background: white;
     box-shadow: 0px 4px 16px 0px #00000021;
     border-radius: 50%;
 }

 .ylw-line {
     border: 2px dashed #FFC226;
     max-width: 935px;
     width: 100%;
 }

 .line-trnsfrm {
     transform: translate(46px, -177px);
     position: relative;
     z-index: -1;
 }

 .margin-48 {
     margin: 24px !important;
 }

 .margin-top-48 {
     margin: 24px !important;
 }

 .mt-48 {
     margin-top: 48px;
 }

 .left-ellips-pos {
     top: 64%;
     left: 0%;
 }

 .swiper-arrow {
     width: 58px;
     height: 58px;
     border-radius: 50%;
     box-shadow: 0px 4px 15px 0px #0000000F;
     background-color: white;
 }

 .border-top {
     border: 1px solid #0F477526;
     max-width: 1140px;
     width: 100%;
 }

 .slider-circle {
     background: #FFF8E4;
     width: 106px;
     height: 106px;
     border-radius: 50%;
 }

 .max-w-359 {
     max-width: 359px;
 }

 .text-line {
     width: 56px;
     border: 1px solid #FFC226
 }


 .top-circle {
     width: 51px;
     height: 51px;
     background: #FFC226;
     border-radius: 50%;
 }

 .dots-pos {
     top: -15%;
     right: -3%;
 }

 .border-right2 {
     border-right: 2px solid #0F477526;
     height: 110px;
 }

 @media (min-width:430px) {
     .mt-48 {
         margin-top: 0;
     }
 }

 @media (min-width:666px) {
     .margin-top-48 {
         margin: 0 !important;
     }
 }

 @media (min-width:576px) {
     .pb-services {
         padding-bottom: 68px;
     }

     .servics-box {
         padding: 40px 0px 40px 0px;
     }

     .mt-63 {
         margin-top: 53px;
     }

     .pt-testinomial {
         padding-top: 68px;
     }

     .mt-47 {
         margin-top: 67px;
     }

 }

 @media (min-width:836px) {
     .margin-48 {
         margin: 0 !important;
     }
 }

 @media (min-width:768px) {
     .border-right {
         border-right: 2px solid #0F477526;
     }

     .pb-services {
         padding-bottom: 78px;
     }

     .servics-box {
         padding: 53px 0px 51px 0px;
     }

     .pt-testinomial {
         padding-top: 98px;
     }

     .mt-47 {
         margin-top: 77px;
     }

 }

 @media (min-width:992px) {

     .max-w-lg-157 {
         max-width: 157px;
         width: 100%;

     }

     .max-w-lg-193 {
         max-width: 193px;
         width: 100%;

     }

     .pl-21 {
         padding-left: 21px !important;
     }

     .gap-39 {
         gap: 39px;
     }

     .pb-services {
         padding-bottom: 98px;
     }

     .pt-testinomial {
         padding-top: 130px;
     }

 }

 @media (min-width:1200px) {
     .pb-services {
         padding-bottom: 126px;
     }

     .mt-63 {
         margin-top: 63px;
     }

     .pt-testinomial {
         padding-top: 193px;
     }

     .mt-47 {
         margin-top: 98px;
     }
 }